name: static_collector

on:
  push:
  pull_request:
    types: [opened]
    
env:
  GO111MODULE: "on"

jobs:
  tests_by_makefile:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17

      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: make lint
        run: make lint
        working-directory: .
        
      - name: make test
        run: make test
        working-directory: .
        
      - name: build gather
        run: make build_gather
        working-directory: .
        
      - name: build client
        run: make build_client
        working-directory: .
      
